@font-face {
  font-family: 'ac-icon'; /* project id 1379936 */
  src: url("//at.alicdn.com/t/font_1379936_wozs7qy7sy.eot");
  src: url("//at.alicdn.com/t/font_1379936_wozs7qy7sy.eot?#iefix") format('embedded-opentype'), url("//at.alicdn.com/t/font_1379936_wozs7qy7sy.woff2") format('woff2'), url("//at.alicdn.com/t/font_1379936_wozs7qy7sy.woff") format('woff'), url("//at.alicdn.com/t/font_1379936_wozs7qy7sy.ttf") format('truetype'), url("//at.alicdn.com/t/font_1379936_wozs7qy7sy.svg#ac-icon") format('svg');
}
